* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
}

body {
    /* background-color: lightgreen; */
    /* position: relative; */
    text-align: center;
}

p {
    text-align: center;
    text-transform: uppercase;
}

.container {
    display: flex;
    background-color: #fff;
    gap: 1rem;
    justify-content: center;
    margin: 1rem;
}

.card {
    width: 300px;
    height: 500px;
    background-color: rgb(251, 251, 46);
    border-radius: 20px;
    margin: 1rem;
    padding: 1.4rem;
    box-shadow: 5px 5px 15px rgb(28, 28, 28);
    position: relative;
}

ul {
    /* background-color: orange; */
    padding-bottom: 1rem;
}

li {
    margin: 0.5rem;
    list-style: none;
}

.btn {
    display: block;
    width: 8rem;
    background-color: #fff;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 20px;
    left: 1.2rem;
    border: none;
}

.btn:hover {
    box-shadow: 0 0 15px 15px rgb(0, 0, 0);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1200px;
    border-radius: 20px;
    background-color: rgba(17, 193, 217, 0.5);
    box-shadow: 5px 5px 15px rgb(28, 28, 28);
    /* position: absolute; */
    /* left: 10%; */
    /* bottom: 10%; */
    z-index: 1;
    backdrop-filter: blur(50px);
}

.form-title {
    grid-column: 1 / -1;
}

 #form {
    display: none;
 }
/* 
 .form-div {
    background-color: pink;
    position: absolute;
    bottom: 5rem;
 } */

form > * {
    margin: 1rem;
    padding: 1rem;
}

form .btn, .open-form {
    align-self: center;
}

.open-form {
    background-color: lightgreen;
    margin: 0 auto;
    margin-top: 3rem;
}

.submit {
    display: inline;
    background-color: rgb(74, 170, 249);
}

.close-form {
    display: inline;
    background-color: rgb(214, 111, 111);
}

.card {
    padding: 0.5rem;
}

.card > .btn {
    position: absolute;
    bottom: 1rem;
    width: 80%;
}

.card > .readButton {
    position: absolute;
    bottom: 4rem;
    width: 80%;
}